* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
    width: 100%;
    display: flex;
    background-color: #000;
}

.header__logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 12%;
    margin-top: 56px;
}

nav {
    margin-left: 29%;
    margin-top: 56px;
}

.topnav a {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 4px solid #fcac45;
    padding-bottom: 8px;

}

.topnav .icon {
    display: none;
}

/*Main Welcome*/

main {
    display: flex;
    flex-direction: column;
    width: 100%;

}

main .main__welcome {
    background: #000;
    text-align: center;
    padding: 200px 0 410px 0;

}

main .main__welcome p {
    color: #999999;
    font-size: 20px;
}

main .main__welcome h1 {
    font-size: 44px;
    color: #999999;
}
.main__welcome h1:after{
    display: none;
}

main .mycompany {
    color: #fcac45;

}

main .welcome {
    font-weight: 100;
}

.EoE {
    font-weight: bold;
    color: #d4d4d4;
}

.ExtP {
    font-weight: bold;
    color: #d4d4d4;
}

/*Block 2 - ABOUT */
.wrapper {
    width: 76%;
    margin: 0 auto;
}

main .about {
    display: flex;
    padding: 100px 0 100px 0;
}

.about__right {
    margin-left: 175px;

}

.about__right h1 {
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 21px;

    font-size: 34px;
    font-weight: 400;
}
.about__right h1:after{
    display: none;
}
.about_us {
    font-weight: bold;
    color: #000;
}

.about__right p {
    color: #6c6c6c;
    margin: 31px 0 50px;
    font-size: 18px;
    font-weight: 400;
}

.about__right ul {
    color: #999999;
}

.about__right li {
    background: url(img/mark.png) 0px no-repeat;
    padding-left: 25px;
}

.MSC {
    font-weight: 600;
    font-size: 18px;
    color: #5a5a5a;
}

.mw-100 {
    min-width: 100%;
}

/*Our Team*/
.main__team {
    background-color: #000;
    text-align: center;
    padding: 100px 0 165px 0;
    color: #fff;
}

.main__team h1 {
    padding-bottom: 30px;
    font-size: 44px;
}
/*
.line {
    width: 100px;
    height: 3px;
    background-color: #fcac45;
    position: relative;
    left: 45.5%;
    margin-bottom: 105px;
}
*/
.photo {
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}

.team__cards {
    display: flex;
}

.card {
    margin: 0 20px;
}

.name {
    font-size: 20px;
    margin-bottom: 7px;
}

.position {
    font-size: 16px;
    margin-bottom: 42px;
}

.about__position {
    font-size: 14px;
}

/*Our Services*/

.services__cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.main__services h1{
    text-align: center;
    padding: 100px 0 30px 0;
    font-size: 44px;
    font-weight: 600;
}
.main__services p{
    margin-bottom: 100px;
    color: #6c6c6c;
    text-align: center;
    font-weight: lighter 600;
    font-size: 16px;
}
.line__services{
    margin-bottom: 60px;
}
.services__card h4{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 15px;
}
.services__cards p{
    color: #222222;
    font-size: 14px;
    margin-bottom: 100px;
}

/*SOME OF OUR CLIENTS*/
.main__clients{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 100px 0 205px 0;
}
.main__clients h1{
      padding-bottom: 30px;
}
.main__clients img{
    margin-left: 30px;
}
/*Portfolio*/

.main__work{
    text-align: center;
    padding: 100px 0 100px 0;
    
}
.main__work h1{
    text-transform: uppercase;
    font-size: 44px;
    font-weight: lighter;
    color: #222222;
}
.our_work{
font-weight: 600;
}
.main__work p{
padding: 46px 0 180px 0;
color: #6c6c6c;
}
.main__work img:hover{
    opacity: 0.9;
}






/*Line*/
h1:after{
content: "";
display: block;
width: 100px;
padding-top: 30px;
margin: 0 auto;
border-bottom: 3px solid #fcac45;
}
/*Media*/
@media screen and (max-width: 1400px) {
    .gallery{
        display: flex;
        justify-content: center;
    }
    .works{
        display: flex;
        width: 83%;
    }
}

@media screen and (max-width: 1301px) {
    nav {
        margin-left: 20%;
    }
    .main__clients img{
        padding-right: 30px;
    }
}

@media screen and (max-width: 1145px) {
    nav {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1105px) {
    nav {
        margin-left: 10%;
    }

    .team__cards {
        flex-direction: column;
    }
    .services__cards{
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 1280px) {
    .works{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

}


@media screen and (max-width: 1010px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin: 0;
        display: block;
        color: #fff;
        font-size: 25px;
    }

    nav {
        width: 100%;
    }

    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -260px;
    }

    header .topnav.responsive {
        height: 340px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        top: -50px;
        right: -260px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}







@media screen and (max-width: 1432px) {
    .about__right {
        margin-left: 80px;
    }

    main .main__welcome {
        padding: 50px 0 50px 0;
    }

    main .main__welcome p {
        font-size: 14px;
    }

    main .main__welcome h1 {
        font-size: 25px;

    }

    .mw-100 {
        max-width: 100%;
    }

    .about {
        flex-direction: column;
    }

    .about__right {
        margin-left: 0;
        text-align: center;
        margin-right: 80px;
    }

    .about__right li {
        text-align: left;
    }

    .about__right h1 {
        font-size: 20px;
        margin-top: 10px;
    }


}

@media screen and (max-width: 1432px) {
    .about__right {
        margin-left: 80px;
    }

}
@media screen and (max-width: 1010px) {
    .line1 img:not(:first-child){
    display: none;
    }
     .line2 img:not(:first-child){
    display: none;
    }
     .line3 img:not(:first-child){
    display: none;
    }
    }
